* {
  box-sizing: border-box;
}

body {
  font-family: 'Calibri', 'Verdana', sans-serif;
  color: #333;
  background: #fff9ef;
  margin: 2em auto;
  padding: 2em;
  max-width: 1024px;
}

#presidents {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  flex-basis: 200px;
}

.small-pres {
  display: flex;
  align-self: flex-start;
  margin-bottom: 1em;
}

.clearfix {
  clear: both;
}


/* info box styles */

#info {
  background: #fff;
  padding: 1em 2em;
  border: 1px solid #666;
  float: left;
}

#info dt, #info dd {
  line-height: 1.5em;
  float: left;
}

#info dt {
  clear: left;
  margin-right: 1em;
  font-weight: bold;
}

#info dd {
  margin-left: 0;
}


/* heading and text styles */

h1, h2 {
  font-family: 'Cambria', 'Georgia', serif;
  font-size: 3em;
  font-weight: normal;
  line-height: normal;
  margin: 0;
}

h2 {
  font-size: 2em;
}

p {
  line-height: 1.5em;
}


/* links */

a {
  color: #237b93;
  text-decoration: underline;
}

a:hover {
  color: #d332cb;
  text-decoration: none;
}
